doctype
html
  head
    title Tick Tack Doh!
    link(rel='stylesheet', href='/main.css')
  body
    h1 Tick Tack Doh!
    .board
      table
        thead
        tbody
          tr
            td
            td
            td
          tr
            td
            td
            td
          tr
            td
            td
            td
    script(src='/socket.io/socket.io.js')
    script(src='/main.js')
